.main-display {
    text-align: center;
    font: "Arial";
    font-size: 75%;
    color: darkblue;
    background-color: skyblue;
    margin: 0px;
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;
}
.text-display {
    text-align: center;
    text-align-last: center;
    padding: 30%;
    padding-top: 15%;
}
